@use './variaveis' as *;

.container-atualizarTarefas{
    height: 93.5vh;
    background-color: aliceblue;
    padding: 5px;
}

.card-atualizarTarefas{
    display: flex;
    gap: 10px;
    width: 20%;
    flex-direction: column;
}

label, input, option {
    font-size: larger;
    height: 30px;

}