@use './variaveis' as *;

.container-atualizarTarefas{
    height: 93.5vh;
    background-color: aliceblue;
    padding: 10px;
}

.card-atualizarTarefas{
    display: flex;
    gap: 10px;
    width: 20%;
    flex-direction: column;
}

.card_campos {
    display: $display;
    flex-direction: column;
    gap: 5px;
}

.card_campos select, option{
    text-align: center;
    cursor: pointer;
}

label, option {
    font-size: larger;
}

.input_descricao {
    font-size: medium;
    width: fit-content;
    height: 25px;
}

.card_button_atualiza {
    width: 53%;
    font-size: $font-texto-nav;
}