@use './variaveis' as *;

.barra {
    background-color: $background;
    color: $cor-principal;
    font-size: $font-texto-nav;
    height: 40px;
    width: 100vw;
    align-items: center;

    ul {
        display: $display;
        flex-direction: row;
        gap: 50px;
        padding: 10px;
        justify-content: flex-end;
        align-items: center;
        height: 40px;
    }
    
    li {
        list-style: none;
        align-items: center;
        cursor: $ponteiro;
        font-size: larger;
        transition: 1s;
        border: solid ;
        height: fit-content;
        padding: 8px;
        width: fit-content;

        a {
            text-decoration: none;
            color: white;
        }
        
    } li:hover {
        transform: scale(1.2);
    }


}   