@use './variaveis' as *;

.barra {
    background-color: $background;
    color: $cor-principal;
    font-size: $font-texto-nav;
    height: 40px;
    width: 100vw;
    align-items: center;

    ul {
        display: $display;
        flex-direction: row;
        gap: 20px;
        padding: 10px;
        justify-content: flex-end;
        align-items: center;
        height: 40px;
    }
    li {
        text-decoration: none;
        list-style: none;
        align-items: center;
        color: white;
        cursor: $ponteiro;

    }
}