@use './variaveis' as *;

.form {
    max-width: 800px;
    background-color: $background;
    gap: 5px;
    display: $display;
    flex-direction: column;
    width: 100vh;
    padding: 1%;
    justify-content: $centralizar-items-centro;
    border-radius: $borda-arrendodada;

    header{
        font-size: $font-texto-grande;
        text-align: $centralizar-texto-centro;
        color: $cor-principal;
    }

    label{
        font-weight: 100;
        color: $cor-principal; 
    }

    select, input, textarea {
        height: $largura-input;
        padding-left: 1%;
    }
    
    button {
        background-color: $background;
        color: $cor-principal;
        width: 100px;
        display: flex;
        justify-content: center;
        height: 40px;
        border-radius: $borda-arrendodada;
        align-items: $centralizar-items-centro;
        transition: 1s;
        cursor: $ponteiro;
    }

    button:hover{
        transform: scale(1.2);
        background-color: green;
        color: white
    }

}