@use './variaveis' as *;

.card_coluna {
    position: relative;
    width: 300px;
    display: $display;
    flex-direction: column;
    background-color: gray;
}

.titulo_coluna{
    text-align: center;
}