@use 'variaveis' as *;

.card-tarefas {
background-color: $background;
color: white;
gap: 20px;
border-radius: 50px;
display: $display;
flex-direction: column;
font-size: larger;
width: fit-content;
padding: 5%;
transition: 0.2s ease;
user-select: none;
}

form {
    font-size: medium;
}

button, label, select{
    font-size: medium;
    width: fit-content;
    cursor: pointer;
}

header{
    text-align: center;
    font-size: medium;
}

dl {
    font-size: medium;

}

