$background: #540099;
$background2: aliceblue;
$cor-principal: #ffffff;
$cor-secundaria: aqua;
$cor-destaque: #00647A;
$corda-borda: gray;
$cor-input: #D1D1D1;
$button: orange;
$borda-arrendodada: 6px;
$font-texto-grande: 30px;
$font-texto-nav: 16px;
$font-principal: 'Verdana';
$display: flex;
$centralizar-items-final: flex-end;
$centralizar-texto-centro: center;
$centralizar-items-centro: center;
$centralizar-items: start;
$borda-arrendodada: 10px;
$largura-input: 40px;
$ponteiro: pointer;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    color: red;
}